@model Dictionary<string, object>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="panel-heading">User Details</div>
    <table class="table table-striped">
        @foreach (var key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <th>@Model[key]</th>
            </tr>
        }
    </table>
</div>

